---
layout: default
---

<main class="usajobs-content-well-full" role="main">
  <section class="usajobs-grid">
    <h1 class="usajobs-recruitment__page-title">Agency Talent Portal Support</h1>

    <h2 class="usajobs-recruitment__section-header">Account</h2>
    {% capture account %}{% include_relative _account.md %}{% endcapture %}
    {{ account | markdownify }}

    <h2 class="usajobs-recruitment__section-header">Agency Talent Portal</h2>
    {% capture atp %}{% include_relative _atp.md %}{% endcapture %}
    {{ atp | markdownify }}

    <h2 class="usajobs-recruitment__section-header">Campaigns</h2>
    {% capture campaign %}{% include_relative _campaign.md %}{% endcapture %}
    {{ campaign | markdownify }}

    <h2 class="usajobs-recruitment__section-header">Resume Mining</h2>
    {% capture resume-mining %}{% include_relative _resume-mining.md %}{% endcapture %}
    {{ resume-mining | markdownify }}

<!--
    <h2 class="usajobs-recruitment__section-header">Events</h2>
    {% include_relative _events.md %}
    {% capture events %}{% include_relative _events.md %}{% endcapture %}
    {{ events | markdownify }}
-->
  </section>
</main>
