<nav class="usajobs-openopps-help-center-nav-secondary" role="navigation">
  <div class="usajobs-openopps-help-center-nav-secondary__body">
    <ul class="usajobs-openopps-help-center-nav-secondary__menu">
      <li
        class="usajobs-openopps-help-center-nav-secondary__container getting-started {% if page.section == 'getting-started' %}is-active{% endif %}"
      >
        <a
          class="usajobs-openopps-help-center-nav-secondary__item"
          href="{{ '/' | relative_url }}"
        >
          Getting started
        </a>
      </li>
      <li
        class="usajobs-openopps-help-center-nav-secondary__container account {% if page.section == 'account' %}is-active{% endif %}"
      >
        <a
          class="usajobs-openopps-help-center-nav-secondary__item"
          href="{{ '/account/' | relative_url }}"
        >
          Account
        </a>
      </li>
      <li
        class="usajobs-openopps-help-center-nav-secondary__container campaigns {% if page.section == 'campaigns' %}is-active{% endif %}"
      >
        <a
          class="usajobs-openopps-help-center-nav-secondary__item"
          href="{{ '/campaigns/' | relative_url }}"
        >
          Campaigns
        </a>
      </li>
      <li
        class="usajobs-openopps-help-center-nav-secondary__container talent-networks {% if page.section == 'talent-networks' %}is-active{% endif %}"
      >
        <a
          class="usajobs-openopps-help-center-nav-secondary__item"
          href="{{ '/talent-networks/' | relative_url }}"
        >
          Talent networks
        </a>
      </li>
      <li
        class="usajobs-openopps-help-center-nav-secondary__container what-is-new {% if page.section == 'what-is-new' %}is-active{% endif %}"
      >
        <a
          class="usajobs-openopps-help-center-nav-secondary__item"
          href="{{ '/what-is-new/' | relative_url }}"
        >
          What's new
        </a>
      </li>
    </ul>
  </div>
</nav>
