<div class="usajobs-recruitment-release-notes">
  <h3>Changes released January 11, 2019 (USAJOBS Release 7.5)</h3>
  <p>In this release of USAJOBS, we made the following changes:</p>
  <ul>
    <li>Updated the styling of the USAJOBS sign out page to follow the USAJOBS Design System.</li>
    <li>Fixed a search issue in IE--the site will perform a search when a user clicks on the magnifying glass button or hits the enter key.</li>
    <li>Fixed issues within Resume Builder and preview: it now displays the correct country name or abbreviation, the full location name, improves the experience for screen readers, and allows JAWS users to upload resumes from the Add New Resume
      modal.</li>
    <li>Updated the "Series" drop down list in the Experience section of the profile to include all active and inactive series.</li>
    <li>Updated the "Are you a U.S. citizen?" question in the profile.</li>
    <li>Edited the Security Clearance filters in search and the API, as well as editing the security clearance values in the SIF.</li>
    <li>Optimized searches, made hiring paths for search data driven.</li>
    <li>Fixed search to not strip leading zeros in zip codes to improve search results.</li>
    <li>Updated resume search functionality to re-index when a user updates their hiring path selection(s) in their profile.</li>
    <li>Updated the Veterans hiring path sub-text.</li>
    <li>Added the GSA GLC dataset to USAJOBS.</li>
    <li>Updated the public API to show any jobs with the public hiring path.</li>
    <li>Updated the API documentation on the developer website.</li>
    <li>Updated the authentication process for ATP--now users have a choice of authentication methods.</li>
    <li>Improved the change password functionality in ATP.</li>
    <li>Added a sign out page in ATP.</li>
    <li>Added a 'time out' page in ATP.</li>
    <li>Added a hover state over the add team member icon (+) in ATP--this helps a user know the icon can be selected.</li>
    <li>Updated the ATP Administrator role to have the ability to remove access to an SSO account within Manage Users, so the SSO user can't access ATP.</li>
    <li>Added ability for a managing user in ATP to know when a user (they are managing) last logged into ATP.</li>
    <li>Updated the search results page in ATP to include the search bar and search parameters, when returning from a job seeker's detail page.</li>
    <li>Removed code in the ATP API that was no longer needed.</li>
  </ul>
</div>