<div class="usajobs-recruitment-release-notes">
  <h3>Changes to be made on October 20, 2017 (USAJOBS Release 6.7)</h3>
  <p>
    This release of USAJOBS was mainly focused on back-end changes not visible to the user. Specifically, we have updated the SIF, our API for accepting job announcements. We've also been working on our upcoming move to a new authentication system.
  </p>
  <p>
    We made the following changes:
  </p>
  <h4>1. The MajorDuties field has expanded</h4>
  <p>
    The list of <a href="{{site.baseurl}}/job-announcement-playbook/details/duties/">duties</a> that can be sent increased from 10 to 20 entries and each entry can now be 250 characters in length.
  </p>

  <h4>
    2. The Conditions of Employment field has expanded
  </h4>
  <p>
    The list of <a href="{{site.baseurl}}/job-announcement-playbook/details/requirements/conditions-of-employment/">Conditions of Employment</a> has increased from 10 to 20 entries and each entry can be up to 250 characters long.
  </p>

  <h4>3. Second announcement field changes from URL to a control number</h4>
  <p>
    Now to link one announcement to another, for example, an announcement open to the public to an announcement open only to Federal employees, your TAS can provide a control number rather than the URL for that announcement.
  </p>
  <h4>
    4. Closing time is now following the ISO 8601 standard
  </h4>
  <p>
    On the back-end we are now following the International Organization for Standardization (ISO) standard for representation of dates and times. Thus this field now accepts only military time in the Eastern time zone. Users will continue to see the timezone displayed, as it has been, in the hour format.
  </p>
  <h4>6. Telework has been added</h4>
  <p>
    The <a href="{{site.baseurl}}/job-announcement-playbook/details/locations/#telework-eligible">telework</a> field has been added and currently accepts a value of Y or N.
  </p>
  <h4>7. Job summary field length is now 500 characters</h4>
  <p>
    The <a href="{{ site.baseurl }}/job-announcement-playbook/details/duties/#summary">job summary</a> field length is now 500 characters. 
  </p>
</div>
