<div class="usajobs-recruitment-release-notes">
  <h3>Changes released Wednesday April 18, 2018 (USAJOBS Release 7.0)</h3>
  <p>
    This release of USAJOBS focused on performance, email infrastructure, hiring path, and SIF improvements.
  </p>
  <p>
    We made a number of changes including:
  </p>

  <h4>Improved page load speed on a few critical pages</h4>
  <p>
    We revised the CSS and Javascript loaded in our application guide, profile dashboard, and landing pages to reduce the page load times. We also cached some database queries to further improve performance for job seekers.
  </p>

  <h4>Session inactivity decreased</h4>
  <p>For security we decreased the session inactivity from 30 to 15 minutes.</p>

  <h4>Clarification from the agency text wrapping</h4>
  <p>We fixed the text wrapping in the Clarification from the agency text.<p>

  <h4>Increased Education field character count limit</h4>
  <p>We increased the number of characters allowed in the Education field from 2,000 to 6,000 to handle interdisciplinary and other jobs with more extensive educational requirements.<p>
</div>
