<div class="usajobs-recruitment-release-notes">
  <h3>Changes released Friday November 16, 2018 (USAJOBS Release 7.3)</h3>
  <p>
    This release of USAJOBS adds a new user flow to help users complete their profiles and removed the login.gov transition page.
  </p>
  <p>
    We made a number of changes including:
  </p>

  <h4>New user flow for profile</h4>
  <p>
    We've made it easier for new users to complete their profiles, by revising the flow with new pages to capture contact information, citizenship, experience (federal, military and other work experience), and education. 
  </p>
  <p>
    We also updated the Profile with a:
    <ul>
      <li><b>Federal email address</b> field with a verification link in the federal experience section.</li>
      <li><b>Job title</b> field in the federal experience section.</li>
      <li><b>Tell Us Who You Are</b> page, which helps the user identify their hiring paths.</li>
      <li><b>What would you like to do next</b> page at the end of the new user flow, with links to additional help content, etc.</li>
  </ul>

  </p>

  <h4>Updates to the sign in process</h4>
  <p>
   We removed the login.gov transition page and the yellow banner what was in the header linking to the login.gov transition page. Now, when you click <b>Sign In</b>, you will go directly to login.gov to sign in or create a new account if you're a new user.
  </p>
<h4>Other updates</h4>
  <p>
    We added a new <b>VideoURL</b> field to the data dictionary. Agencies can use this field to add a video link in their job announcements.
  </p>
 
</div>
