<div class="usajobs-recruitment-release-notes">
  <h3>Changes to be made on September 1, 2017 (USAJOBS Release 6.6)</h3>
  <p>
    The most recent update to USAJOBS introduces a new job announcement layout, search filter changes and some content updates.
  </p>
  <p>
    We made the following changes:
  </p>
  <h4>1. Added a new hiring path: "Internal to an agency"</h4>
  <p>
    Based on feedback, we added a new hiring path called “Internal to the agency”. You can use this hiring path when a job is <strong>only</strong> open to employees of the hiring agency. We will also tag any job announcement with this hiring path, if it uses the text “agency only” in the <strong>Who May Apply</strong> section.
  </p>
  <p>
    We also added a new help center page for “Internal to the agency”: <a href="https://www.usajobs.gov/Help/working-in-government/unique-hiring-paths/federal-employees/internal/">
      https://www.usajobs.gov/Help/working-in-government/unique-hiring-paths/federal-employees/internal/
    </a>
  </p>
  <h4>2. Removed "Land management" hiring path</h4>
  <p>
    We removed <strong>Land Management</strong> as a searchable filter, because if you’re eligible for Land Management, you’re also eligible to apply to any job listed under the Federal Employee hiring path. Therefore, we don’t need to have a distinct search filter for Land Management.
  </p>
  <p>
    We removed the <strong>Land Management</strong> hiring path from the USAJOBS search filter, the <strong>This job is open to</strong> section in the job announcement, and the USAJOBS landing page.
  </p>
  <p>
    We kept a Help Center page to explain Land Management to applicants: <a href=" https://www.usajobs.gov/Help/working-in-government/unique-hiring-paths/federal-employees/land-management/">
      https://www.usajobs.gov/Help/working-in-government/unique-hiring-paths/federal-employees/land-management/
    </a>
  </p>

  <h4>3. Created a new Help Center page for the Base management hiring path</h4>
  <p>
    We added a Help center page to explain the “Base Management” eligibility for employees of the Defense Industrial Base Facility or the Major Range and Test Facilities Base.
  </p>
  <p>
    <a href="https://www.usajobs.gov/Help/working-in-government/unique-hiring-paths/federal-employees/base-management/">
      https://www.usajobs.gov/Help/working-in-government/unique-hiring-paths/federal-employees/base-management/
    </a>
  </p>
  <h4>4. Updated the travel percentage options</h4>
  <p>
    Based on feedback from our users, we updated the travel percentage options in the search filters and in the answers to the travel question in

    We are updating the options for the question “What percentage of duty time will you travel?” that the user can set in their <a href="https://www.usajobs.gov/Applicant/ProfileDashboard/Preferences">Profile > Preferences</a>.
  </p>
  <p>
    The new travel percentage options are:
  </p>
  <ul>
    <li>Not required</li>
    <li>Occasional travel</li>
    <li>25% or less</li>
    <li>50% or less</li>
    <li>75% or less</li>
    <li>76% or greater</li>
  </ul>
  <p>
    We’ve also updated the <a href="https://www.usajobs.gov/Help//how-to/search/filters/travel-percentage/">travel percentage</a> page in the Help Center.
  </p>
  <p>
    These changes will make it easier for job seekers to narrow their results by the amount of travel, and it will help HR Specialists more accurately describe a job’s travel requirements.
  </p>
</div>
