<div class="usajobs-recruitment-release-notes">
  <h3>Changes to be made on February 25, 2018 (USAJOBS Release 6.8)</h3>
  <p>
    This release of USAJOBS was mainly focused on integration with <a href="https://login.gov/">login.gov</a> and starting the 6 month clock on SIF fields that are currently optional that will become required.
  </p>
  <p>
    We made the following changes:
  </p>
  <h4>1. Added 2 factor authentication via integration with login.gov</h4>
  <p>
    <a href="https://www.usajobs.gov/Help/faq/account/login-gov/">Read more</a> about login.gov. Users will be required to create an account with login.gov which uses 2 factor authentication to secure that account. Users will then be directed to USAJOBS where there account will be automatically linked to their USAJOBS profile if they primary or secondary email address they used when creating their login.gov account matches an existing USAJOBS profile in good standing. Otherwise users will be able to manually recover their profile.
  </p>
  <p>
    A <a href="{{ site.baseurl }}/job-announcement-playbook/release-notes/login-gov-for-agencies/">FAQ for agencies</a> has been created that provides directions on where you can send users for more information or help.
  </p>
  <h4>2. Started the 6 month clock on SIF field changes</h4>
  <p>
    A number of SIF fields have been added, removed, or will change from optional to required six months from this release (roughly August 31, 2018). A full list will be posted here before the release date.
  </p>
</div>
