<div class="usajobs-recruitment-release-notes">
  <h3>Changes released Friday July 27, 2018 (USAJOBS Release 7.2)</h3>
  <p>
    This release of USAJOBS updates the user Profile section of the site.
  </p>
  <p>
    We made a number of changes including:
  </p>

  <h4>Hiring paths added to profile</h4>
  <p>
    We're now capturing hiring paths in a user's profile. We plan to leverage this data in the future to drive down the number of ineligible applicants. We also plan to add hiring path selection to a new user on-boarding experience.
  <p>

  <h4>All sections of the resume builder can now be collected for all users</h4>
  <p>
    We added education, languages, organizations, and references to a user's profile. We plan on adding this information to our resume mining feature in the Agency Talent Portal.
  <p>

  <h4>Profile - Eligibility is now Profile - Experience</h4>
  <p>
    We change the Eligibility seciton of Profile to capture Federal and Military service. We also added the ability for users to add their work experience.
  <p>
</div>
