<div class="usajobs-recruitment-release-notes">
  <h3>Changes released Friday, December 14, 2018 (USAJOBS Release 7.4)</h3>
  <p>
    In this release of USAJOBS, we made a number of changes including: 
  </p>
  <p>
    <ul>
      <li>Added a new field to the SIF called Agency External Contact URL. Agencies can use this field to provide a URL as their external contact method. Only use this field for online ticketing systems. Do not use this field for general URLs</li>
      <li>Updated the agency contact information section to display a third address line on the job announcement. We removed address fields 4 and 5 from the data dictionary.</li>
      <li>Made minor updates to the new user flow in USAJOBS.</li>
      <li>Updated the video display in the job announcement to improve the display on mobile and larger screen devices.</li>
  </ul>

  </p>
 
</div>
