<div class="usajobs-recruitment-release-notes">
  <h3>Changes made on July 24, 2017</h3>
  <h4>USAJOBS Release 6.5</h4>
  <p>
    This release introduced a new layout for the top portion of the job announcement. In subsequent iterations it also added the "Internal to an agency" hiring path and updated the definition of the Senior Executive hiring path.
  </p>
  <h4>Added a new hiring path: "Internal to an agency"</h4>
  <p>
    Based on feedback, we added a new hiring path called “Internal to an agency”. You can use this hiring path when a job is <strong>only</strong> open to employees of the hiring agency. We will also tag any job announcement with this hiring path, if it uses the text “agency only” in the <strong>Who May Apply</strong> section.
  </p>
  <p>
    We also added a new help center page for “Internal to an agency”:
  </p>
  <p>
    <a href="https://www.usajobs.gov/Help/working-in-government/unique-hiring-paths/federal-employees/internal/">
      https://www.usajobs.gov/Help/working-in-government/unique-hiring-paths/federal-employees/internal/
    </a>
  </p>
  <h3>Changes made on August 10, 2017</h3>
  <h4>USAJOBS Release 6.5</h4>

  <h4>Redefined the Senior Executive hiring path</h4>
  <p>
    This change narrowed the hiring path to only include jobs within the Senior Executive Service, not those open to any senior executives:
  </p>
  <ol>
    <li>Removed all pay plans except ES from the Senior Executive hiring path search results (all jobs will be re-indexed to be re-mapped accurately).</li>
    <li>Changed the label of the hiring path in search and in the job announcement from **Senior Executives** to **Senior Executive Service**.</li>
  </ol>
</div>
