<div class="usajobs-recruitment-release-notes">
  <h3>Changes released February 23, 2018 (USAJOBS Release 6.9)</h3>
  <p>
    This release of USAJOBS focused on updating the hiring paths.
  </p>
  <p>
    We made the following changes:
  </p>
  <h4>1. Added new hiring paths, split existing paths</h4>
  <p>
    We took on feedback from multiple agencies and OPM Policy and have <a href="{{ '/job-announcement-playbook/details/this-job-is-open-to/' | relative_url }}">revised our list of hiring paths</a>. There are 3 new sub-paths and 3 paths that have been split.
  </p>
  <h5>Examples of how hiring paths appear in the <strong>This job is open to</strong> section of a job announcement</h5>
  <div class="usajobs-recruitment-joa-playbook-details__example-img this-job-is-open-to">
  <amp-img src="{{ '/assets/images/job-announcement-playbook/this-job-is-open-to-v6.9.png' | relative_url }}"
    srcset="{{ '/assets/images/job-announcement-playbook/this-job-is-open-to-v6.9.png' | relative_url }} 768w,
    {{ '/assets/images/job-announcement-playbook/this-job-is-open-to-v6.9-SM.png' | relative_url }} 100w"
    width="320"
    height="1964"
    layout="responsive"
    alt="This job is open to... v6.9 example"></amp-img>
  </div>
  <p><strong>Note:</strong> This example shows all of the possible hiring paths. No single job would feature all of these.</p>
  <h4>2. Bug fixes</h4>
  <p>
    This release also features a number of small bug fixes and improvements across the site.
  </p>
</div>
