<div class="usajobs-recruitment-release-notes">
  <h3>Changes with USAJOBS Release 7.6)/h3>
  <p>In this release of USAJOBS, we made the following changes:</p>
  <ul>
    <li>Created two new SIF fields: **Position Sensitivity and Risk** and **Type of Adjudication**.</li>
    <li>Added the new **Position Sensitivity and Risk** and **Type of Adjudication** to the job announcement and print preview.</li>
    <li>Added the new **Position Sensitivity and Risk** and **Type of Adjudication** fields from the job announcement in the API and that the “security clearance” field is returned in the API.</li>
    <li>Changed the link to find information on General Delivery to https://usps.force.com/faq/s/article/What-is-General-Delivery.</li>
    <li>Added new occupations to the Explore Opportunities tab.</li>
    <li>Fixed the “Find My Profile” email so it goes out if the address meets the Internet Email Standard.</li>
    <li>Fixed emails to remove trailing spaces so that emails will go out and not get stuck in Notification Queue.</li>
    <li>Added Hiring organization/Sub agency, Major duties list and Recruiter contact information to the API and it now indexes the new Summary field so it's retrievable through the API.</li>
   <li>Updated the code to support the latest version of elastic search.</li> 
   <li>Updated so documents can be uploaded from the Apply process.</li>
   <li>Added Agency Contacts URL to “Learn more about this agency” modal.</li>
   <li>Fixed location autocomplete so it works as designed.</li>
   <li>Added GSA’s GLC codes for overseas locations into USAJOBS.</li>
   <li>Updated the SIF validation rules to allow for the use of GLC codes.</li>
   <li>Updated the Video field, so SIF submissions with a VideoURL that does not begin with "http://" or "https://" are rejected and only valid URLs are entered.</li>
   <li>Replaced hrJobSummary with the new Summary in the JSON.</li>
   <li>Created the USDS JOA pilot announcement.</li>
  </ul>
</div>
