<div class="usajobs-recruitment-release-notes">
  <h3>Changes released Friday June 1, 2018 (USAJOBS Release 7.1)</h3>
  <p>
    This release of USAJOBS focused on back-end infrastructure and preparing for our Profile 7.2 release.
  </p>
  <p>
    We made a number of changes including:
  </p>

  <h4>Consolidated Senior Executives hiring path</h4>
  <p>
    We reversed a decision to split the Senior Executives hiring path into two paths. This was causing confusion in both how jobs were posted and how users understood the paths in search.
  <p>

  <h4>Promotion Potential</h4>
  <p>
    We added a new Promotion Potential text field so that additional context may be provided.
  <p>

  <h4>Updating the language in the first paragraph of the Reasonable Acommodation policy.</h4>
  <p>
    This was a policy compliance change.
  </p>

  <h4>Correcting session inactivity across tabs</h4>
  <p>A fix for calculating the session timeout correctly when multiple tabs are open to the site.</p>

  <h4>Demographics opt-out fix</h4>
  <p>This fixes the ability for the user to opt-out of providing demographics information.<p>
</div>
