<header class="usajobs-site-header" role="banner" aria-label="header">
  <!-- Gov banner BEGIN -->
  <div class="usa-banner">
    <div>
      <div class="usa-banner-header">
        <div
          class="usajobs-grid usa-banner-inner usajobs-nav--full_bleed__banner-inner"
        >
          <span class="usa-banner-header__img">
            <amp-img
              src="{{ site.baseurl }}/assets/images/favicons/favicon-57.png"
              width="20"
              height="20"
              alt="U.S. flag"
            ></amp-img>
          </span>
          <p>An official website of the United States government</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Gov banner END -->
  <nav
    class="usajobs-nav usajobs-nav--vATP"
    role="navigation"
    aria-label="main navigation"
    data-object="nav"
  >
    <div class="usajobs-nav__body usajobs-nav--vATP">
      <div class="usajobs-nav__header-container">
        <div class="usajobs-nav__header usajobs-nav--vATP">
            <div class="usajobs-nav__brand-container usajobs-nav--vATP__brand-container">
              <a
                class="usajobs-nav__brand usajobs-nav--vATP__brand"
                href="{{ site.baseurl }}/"
              >
                <img
                  src="{{ site.baseurl }}/assets/images/logo/png/atp-logo-2x.png"
                  layout="responsive"
                  alt="USAJOBS logo"
                  width="425"
                  height="39"
                ></img
                >
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
