@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'font-awesome/scss/font-awesome';

// Typography
$em-base:             10px;
$rs:                  17px;
$base-font-size-px:   17px;
$base-font-size:      rem($base-font-size-px);
$xsmall-font-size:    rem(12px);
$small-font-size:     rem(14px);
$lead-font-size:      rem(19px);
$title-font-size:     rem(52px);

$h1-font-size:  44px;
$h2-font-size:  34px;
$h3-font-size:  24px;
$h4-font-size:  19px;
$h5-font-size:  16px;
$h6-font-size:  13px;

$base-line-height:    1.5;
$heading-line-height: 1.3;
$lead-line-height:    1.7;

$font-normal:         400;
$font-bold:           700;

$font-serif: Merriweather,Georgia,Cambria,"Times New Roman",Times, serif;
$font-sans: "Source Sans Pro","Helvetica Neue",Helvetica,'Roboto', sans-serif;

// Breakpoints
$SM-screen:    30em;      //  480px at 16px base font - USDS standard
$M-screen:     37.5em;    //  600px at 16px base font - USDS standard
$ML-screen:    48em;      //  768px at 16px base font
$L-screen:     62em;      //  992px at 16px base font
$XL-screen:    75em;      // 1200px at 16px base font - USDS standard
$XXL-screen:   85.375em;  // 1366px at 16px base font
$XXXL-screen:  100em;     // 1600px at 16px base font
$XXXXL-screen: 120em;     // 1920px at 16px base font

// min-width
$SM:    (media: $SM-screen, columns: 2);
$M:     (media: $M-screen, columns: 6);
$ML:    (media: $ML-screen, columns: 6);
$L:     (media: $L-screen, columns: 12);
$XL:    (media: $XL-screen, columns: 12);
$XXL:   (media: $XXL-screen, columns: 12);
$XXXL:  (media: $XXXL-screen, columns: 16);
$XXXXL: (media: $XXXXL-screen, columns: 16);


// USWDS colors
$color-primary:              #0071bc;
$color-primary-darker:       #205493;
$color-primary-darkest:      #112e51;

$color-secondary:            #e31c3d;
$color-secondary-dark:       #cd2026;
$color-secondary-darkest:    #981b1e;

$color-primary-alt-dark:     #00a6d2;
$color-primary-alt-darkest:  #046b99;
$color-primary-alt-lightest: #e1f3f8; // lighten($color-primary-alt, 90%)

$color-white:                #ffffff;
$color-base:                 #212121;
$color-black:                #000000;

$color-gray-dark:            #323a45;
$color-gray:                 #5b616b; // lighten($color-gray-dark, 20%)
$color-gray-medium:          #757575; // lightest gray that passes color contrast
$color-gray-light:           #aeb0b5; // lighten($color-gray-dark, 60%)
$color-gray-lighter:         #d6d7d9; // lighten($color-gray-dark, 80%)
$color-gray-lightest:        #f1f1f1; // lighten($color-gray-dark, 91%)

$color-gray-cool-light:      #dce4ef; // lighten($color-primary, 90%)

$color-focus:                #3e94cf;
$color-visited:              #4c2c92;

$focus-shadow: 0 0 3px $color-focus, 0 0 7px $color-focus;

// Layout
$site-max-width-L:    rem(1600px);
$article-max-width:   rem(600px);
$input-max-width:     46rem;
$site-margins:        3rem;
$site-margins-mobile: 1.5rem;
$grid-margins:        3rem;

// Spacing
$size-XS: 0.25rem;              // 2.5px
$size-base: 0.5rem;             // 5px
$size-S: $size-base * 2;        // 10px
$size-default: $size-base * 3;  // 15px
$size-SM: $size-base * 4;       // 20px - Use this sparingly
$size-M: $size-base * 6;        // 30px
$size-L: $size-base * 9;        // 45px
$size-XL: $size-M * 2;          // 60px
$size-XXL: $size-default * 5;   // 75px

$space-inset-default: $size-default $size-default $size-default $size-default;
$space-inset-XS: $size-XS $size-XS $size-XS $size-XS;
$space-inset-base: $size-base $size-base $size-base $size-base;
$space-inset-M: $size-M $size-M $size-M $size-M;
$space-inset-L: $size-L $size-L $size-L $size-L;

$space-inset-section-narrow: $size-M $size-default;
$space-inset-section-M: $space-inset-M;
$space-inset-section-wide: $size-L $size-XL $size-L $size-XL;

$space-stack-default: 0 0 $size-default 0;
$space-stack-XS: 0 0 $size-XS 0;
$space-stack-S: 0 0 $size-S 0;
$space-stack-M: 0 0 $size-M 0;
$space-stack-L: 0 0 $size-L 0;
$space-stack-XL: 0 0 $size-XL 0;
$space-stack-XXL: 0 0 $size-XXL 0;

// Animation
$duration-fast:   0.3s;
$duration-slow:   0.8s;

// Mixins
@mixin respond-to($breakpoint) {
  @media only screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin font-smoothing {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@mixin font-feature-settings {
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

@mixin header {
  font-family: $font-serif;
  font-weight: $font-bold;
  line-height: $heading-line-height;
  margin-bottom: $size-base;
  margin-top: 0;
}

@mixin h1 {
  @include header();
  font-size: $h1-font-size;
  font-size: rem($h1-font-size);
  color: $color-primary-darkest;
}

@mixin h2 {
  @include header();
  font-size: $h2-font-size;
  font-size: rem($h2-font-size);
  color: $color-primary-darkest;
}

@mixin h3 {
  @include header();
  font-family: $font-sans;
  font-size: $h3-font-size;
  font-size: rem($h3-font-size);
}

@mixin h4 {
  @include header();
  font-family: $font-sans;
  font-size: $h4-font-size;
  font-size: rem($h4-font-size);
}

@mixin default-text {
  font-size: $base-font-size-px;
  font-size: $base-font-size;
  font-weight: $font-normal;
  line-height: 1.5;
  margin: $size-S 0;
}

@mixin unstyledList() {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;

  > li {
    display: list-item;
    margin: 0;

    &:before {
      display: none;
    }

    &:after {
      display: none;
    }
  }
}

@mixin makeCircle($size, $border: none, $bg-color: inherit, $color: $color-white) {
  display: inline-block;
  width: $size;
  height: $size;
  line-height: $size;
  border-radius: 50%;
  color: $color;
  background-color: $bg-color;
  box-shadow: 0 0 0 2px $border inset;
}

@mixin bulletList() {
  list-style: none;
  padding-left: 0;
  display: table;

  > li {
    display: table-row;

    &:before {
      content: "•";
      display: table-cell;
      padding-right: 0.4em;
    }

    &:after {
      content: "";
      display: block;
      margin-bottom: 0.5em;
    }
  }
}

// A variation on a mixin created to reproduce Google's Material Design Card shadows
// https://gist.github.com/paulmelnikow/7fcfbe4f68e5df7fe326
/*
@mixin boxShadow ($level, $inset: false) {
  @if ($level == 1) {
    @if ($inset) {
      box-shadow: 0 1px 3px rgba(0,0,0,0.12) inset, 0 1px 2px rgba(0,0,0,0.24) inset;
    } @else if {
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
  } @else if ($level == 2) {
    @if ($inset) {
      box-shadow: 0 3px 6px rgba(0,0,0,0.16) inset, 0 3px 6px rgba(0,0,0,0.23) inset;
    } @elseif {
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
  } @else if ($level == 3) {
    @if ($inset) {
      box-shadow: 0 10px 20px rgba(0,0,0,0.19) inset, 0 6px 6px rgba(0,0,0,0.23) inset;
    } @elseif {
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
  } @else if ($level == 4) {
    @if ($inset) {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25) inset, 0 10px 10px rgba(0,0,0,0.22) inset;
    } @elseif {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
  } @else if ($level == 5) {
    @if ($inset) {
      box-shadow: 0 19px 38px rgba(0,0,0,0.30) inset, 0 15px 12px rgba(0,0,0,0.22) inset;
    } @elseif {
      box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
  }
}
*/

// Grid
.usajobs-grid,
.usajobs-grid-full {
  @include grid-container();
  padding: 0 $size-default;

  @include grid-media($ML) {
    padding-left: $size-M;
    padding-right: $size-M;
  }
}

// Base styles
html {
  font-family: $font-sans;
  font-size: $em-base;
  @include box-sizing(border-box);
}

/* The * selector is banned from AMP - need to find another way
*,
*::before,
*::after {
  @include box-sizing(inherit);
}
*/

body {
  @include box-sizing(inherit);
  @include font-smoothing;
  @include font-feature-settings;
  font-size: $base-font-size-px;
  background-color: $color-white;
  margin: 0;
  padding: 0;
  color: $color-base;
  text-rendering: optimizeLegibility;
}

h1 {
  @include h1();
}

h2 {
  @include h2();
}

h3 {
  @include h3();
}

h4 {
  @include h4();
}

// BUTTONS
$button-stroke: inset 0 0 0 2px;
// scss-lint:disable PropertyCount
.usa-button,
.usa-button-primary,
.usa-button:visited,
.usa-button-primary:visited,
button,
[type="button"],
[type="submit"],
[type="reset"],
[type="image"] {
  @include box-sizing(inherit);
  @include font-smoothing;
  @include margin(0.5em 0.5em null null);
  appearance: none;
  background-color: $color-primary;
  border: 0;
  border-radius: 0.3rem;
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  font-family: $font-sans;
  font-size: $lead-font-size;
  font-weight: $font-bold;
  line-height: 1;
  outline: none;
  padding: $size-default 0;
  text-align: center;
  text-decoration: none;
  width: 100%;

  @include grid-media($SM) {
    width: auto;
    padding: $size-default $size-M;
  }

  &:hover {
    background-color: $color-primary-darker;
    border-bottom: 0;
    color: $color-white;
    text-decoration: none;
  }

  &:focus {
    box-shadow: $focus-shadow;
  }

  &:active {
    background-color: $color-primary-darkest;
  }


  &.usa-button-secondary {
    background-color: $color-secondary;

    &:hover,
    &.usa-button-hover {
      background-color: $color-secondary-dark;
    }

    &:active,
    &.usa-button-active {
      background-color: $color-secondary-darkest;
    }
  }

  &.usa-button-outline {
    background-color: $color-white;
    box-shadow: $button-stroke $color-primary;
    color: $color-primary;

    &:hover,
    &.usa-button-hover {
      box-shadow: $button-stroke $color-primary-darker;
      color: $color-primary-darker;
    }

    &:active,
    &.usa-button-active {
      box-shadow: $button-stroke $color-primary-darkest;
      color: $color-primary-darkest;
    }

    &:focus,
    &.usa-button-focus {
      box-shadow: $button-stroke $color-primary-darkest, $focus-shadow;
    }
  }

  &.usa-button-outline-inverse {
    background: transparent;
    box-shadow: $button-stroke $color-white;
    color: $color-white;

    &:hover,
    &.usa-button-hover {
      box-shadow: $button-stroke $color-gray-lighter;
      color: $color-gray-lighter;
    }

    &:active,
    &.usa-button-active {
      box-shadow: $button-stroke $color-gray-light;
      color: $color-gray-lighter;
    }

    &:focus,
    &.usa-button-focus {
      box-shadow: $button-stroke $color-gray-light, $focus-shadow;
    }
  }

  &.usa-button-big {
    font-size: 1.9rem;
    padding: 1.5rem 3rem;
  }
}

amp-img {
  width: 100%;
}


// Very top banner from the standards
.usa-banner {
  background-color: $color-gray-lightest;
  padding-bottom: 0.7rem;

  @include grid-media($SM) {
    font-size: $h6-font-size;
    padding-bottom: 0;
  }
}

.usa-banner-header {
  font-size: 1.2rem;
  font-weight: $font-normal;

  p {
    display: inline-block;
    @include margin(2px null);
    overflow: hidden;
    vertical-align: middle;
  }

  &__img {
    float: left;
    margin-right: 0.7rem;
    margin-top: 1px;
  }
}

.usa-banner-inner {
  @include padding(null $site-margins-mobile);
  max-width: $site-max-width-L;
  // would prefer to avoid this but the amp-img is doing something odd to the height
  height: 2.2rem;

  @include grid-media($L) {
    @include padding(null $site-margins);
  }
}

main {
  display: block;

  a {
    text-decoration: underline;
    color: $color-primary;

    &:hover,
    &:active {
      color: $color-primary-darker;
      outline: 0;
      background-color: transparent;
    }
  }

  a.usa-button,
  a.usa-button-big,
  a.usajobs-button {
    text-decoration: none;
  }

  p {
    line-height: $base-line-height;
    margin: 1em 0;
  }

  blockquote {
    line-height: $base-line-height;
  }
}

.cf {
  @include clearfix;
}

.usajobs-shell {
  @include clearfix;
  position: relative;
  max-width: $site-max-width-L;
  margin-left: auto;
  margin-right: auto;
  background: $color-white;
}

.usajobs-content-gutter {
  padding: 0 $size-default;

  @include grid-media($ML) {
    padding-left: $size-M;
    padding-right: $size-M;
  }
}

.usajobs-content-well {
  margin-bottom: $size-XL;

  @include grid-media($L) {
    @include grid-column(8);
  }

  @include grid-media($XL) {
    @include grid-column(8);
  }
}

.usajobs-rightrail {
  @include grid-media($L) {
    @include grid-column(4);
  }

  @include grid-media($XL) {
    @include grid-column(4);
  }

  .usajobs-content-gutter {
    @include grid-media($L) {
      padding-left: 0;
    }
  }
}

// ****************************************************************************
// *** Add layout here ***
.usajobs-atp-help-center {
  &__lead {
    @include h3();
    font-weight: 300;
    font-size: 2.2rem;
    line-height: 1.5;
    color: $color-gray;
  }

  &__external-button {
    position: relative;
    display: block;
    width: 100%;
    max-width: $input-max-width;
    padding: $size-default $size-L $size-default $size-S;
    line-height: $heading-line-height;
    text-align: left;

    .fa {
      position: absolute;
      right: rem(10px);
    }
  }

  &__external-link .fa {
    padding-left: $size-base;
  }
}

.usajobs-help-center-article {
  @include clearfix();

  // Override of the US Standards on lists. It really does odd things inside of articles.
  ul,
  ol {
    margin-bottom: $size-S;
  }

  blockquote {
    padding: 0 $size-default;
    color: $color-gray;
    border-left: 4px solid $color-gray-light;
  }

  &__container {
    max-width: $article-max-width;
  }

  // Fix for lack of design system lists in prod
  .usajobs-content-well {
    @include grid-media($L) {
      min-height: 50vh;
    }

    ul {
      @include bulletList();
    }

    ul,
    ol {
      margin-left: .9em;
      margin-bottom: $size-S;
    }

    a {
      text-decoration: underline;
    }

    &.has-exposed-form {
      margin-bottom: $size-default;

      @include grid-media($L) {
        min-height: inherit;
      }
    }
  }

  .usajobs-content-well.usajobs-content-well--exposed-form {
    @include grid-media($L) {
      min-height: inherit;
    }
  }

  &__related {
    margin-top: $size-L;
  }

  .usajobs-help-center-article__related-list {
    @include unstyledList();
    margin-bottom: $size-L;

    > li {
      margin-bottom: .75em;
    }

    > li > a {
      text-decoration: none;
    }
  }

  &__additional-container {
    @include grid-column(12);
    margin: $size-M 0;
  }

  &__additional-help {
    padding: $size-default;
    text-align: center;
    background-color: $color-primary-alt-lightest;

    p {
      @include h4();
      color: $color-primary-darkest;

      a {
        font-weight: normal;
      }

      a:visited {
        color: $color-primary;
      }
    }
  }

  &__reveal-contact-us {
    margin-top: $size-default;
  }
}

.usajobs-help-center-article-contact {
  @include clearfix();
  margin-bottom: $size-XXL;

  &__list {
    @include unstyledList();
  }

  &__form-container {
    max-width: $article-max-width;
    padding: $size-default;

    &[aria-hidden=true] {
      display: none;
    }

    .usajobs-help-center__lead {
      color: $color-black;
    }
  }

  .usajobs-help-center-article-contact__button {
    padding: $size-M $size-default;
    background-color: $color-gray;
    background-image: inherit;
    color: $color-white;
    font-size: $h3-font-size;
    text-align: center;

    &[aria-expanded=false] {
      background-image: inherit;
    }

    &:hover {
      background-color: $color-gray-dark;
      color: $color-white;
    }

    .usa-button {
      font-size: $base-font-size;

      @include grid-media($SM) {
        margin-left: $size-default;
      }
    }
  }
}


// ****************************************************************************
// *** Add Components here ***
$logo_img_height-S: 36px;
$logo_img_height-L: 45px;
$logo_height-S: $logo_img_height-S + 15px + 10px;
$logo_height-L: $logo_img_height-L + 15px + 10px;
$nav_item_height: 17px + 26.5px;

@mixin activeNavElement() {
  position: relative;
  color: $color-primary-darker;
  font-weight: bold;
  background-color: $color-gray-lightest;
  // @include boxShadow(1, true);
}

.usajobs-nav {
  position: relative;
  background-color: $color-white;

  ul {
    // The default is a table which ruins animating the height
    display: block;
  }

  &__body {
    // @include outer-container();
    max-width: $site-max-width-L;
    border-bottom: 1px solid $color-gray-lighter;

    a {
      // An override of the base styles just to be certain we don't have
      // underlined links in the nav
      text-decoration: none;
    }
  }

  &__header,
  &__header-container {
    @include clearfix();
  }

  &__banner-inner {
    @include grid-media($ML) {
      padding-left: $size-M;
    }
  }

  &__brand-container {
    display: block;
    float: left;
    margin-right: $size-S;

    @include grid-media($M) {
      margin-right: $size-M;
    }
  }

  &__brand {
    display: block;
    padding: $size-default 0 $size-S $size-default;
    line-height: 1;

    @include grid-media($ML) {
      padding-left: $size-M;
    }

    .logo {
      display: inline-block;
      height: rem(36px);
      width: rem(150px);
      background-image: url('/assets/images/logo/png/red-2x.png');
      background-image: url('/assets/images/logo/svg/red-2x.svg');
      background-repeat: no-repeat;
      vertical-align: middle;

      @include grid-media($ML) {
        height: rem(45px);
        width: rem(188px);
      }
    }
  }

  &__sub-brand {
    @include h3();
    display: block;
    font-style: italic;
    font-weight: normal;
    color: $color-base;
    margin-top: 0;

    @include grid-media($M) {
      display: inline-block;
      padding-left: $size-S;
    }

    &:visited {
      color: $color-base;
    }
  }

  &__menu {
    display: block;
    float: right;
    height: rem($logo_height-S);

    @include grid-media($L) {
      height: rem($logo_height-L);
    }

    ul {
      margin: 0;
      padding: 0;
      text-align: right;
    }
  }

  &__first_name {
    display: none;

    @include grid-media($SM) {
      display: inherit;
      max-width: rem(140px);
    }
  }

  &__account_name {
    @include grid-media($SM) {
      display: none;
    }
  }

  &__menu-container {
    display: inline-block;
    margin: 0;
    padding: 0;

    &::before,
    &::after {
      content: none;
    }

    &[data-state="is-open"] {
      @include transition(all $duration-fast linear);

      .usajobs-nav__section-link {
        color: $color-white;
        background-color: $color-primary-darker;
        // @include boxShadow(2);
      }

      ul.usajobs-nav__secondary-menu {
        display: block !important;
      }
    }
  }

  &__section-link {
    display: block;
    padding: (($logo_height-S - 44px) / 2) $size-S;
    line-height: 1;
    text-align: center;
    @include transition(all $duration-fast linear);
    color: $color-primary;

    @include grid-media($SM) {
      padding-left: $size-default;
      padding-right: $size-default;
    }

    @include grid-media($ML) {
      padding: rem(($logo_height-L - 44px) / 2) $size-M;
    }

    &:visited {
      color: $color-primary;
    }

    &:hover {
      color: $color-primary-darker;
      text-decoration: none;
    }

    &.is-active {
      @include activeNavElement();
    }

    .fa {
      display: block;
      font-size: $h3-font-size;
      padding-bottom: $size-XS;
    }
  }

  ul.usajobs-nav__secondary-menu {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    padding: $size-base 0;
    background-color: $color-gray-lightest;
    // @include boxShadow(2);
    z-index: 99999;
    text-align: left;

    @include grid-media($M) {
      left: auto;
      right: auto;
    }

    li {
      display: block;
      width: 100%;

      @include grid-media($L) {
        margin: 0;
      }

      &::before,
      &::after {
        content: none;
        margin: 0;
      }

      &:last-child {
        border-bottom: 0;
      }

      a {
        display: block;
        width: 100%;
        clear: both;
        padding: $size-S $size-M;
        white-space: nowrap;
      }
    }
  }

  &__help {
    display: none;

    @include grid-media($M) {
      display: inline-block;
    }
  }

  &__search {
    padding: 0 $size-default $size-M;
    background-color: $color-primary-darker;

    @include grid-media($M) {
      padding-bottom: $size-S;
    }

    @include grid-media($ML) {
      padding-left: $size-M;
      padding-right: $size-M;
    }

    &[aria-expanded="false"] {
      display: none;
    }

    form {
      max-width: inherit;
    }

    label {
      max-width: inherit;
      color: $color-white;
    }
  }

/*
  &__search-keywords-container {
    @include grid-media($M) {
      @include grid-column(3, 6);
    }

    @include grid-media($L) {
      @include grid-column(6, 12);
    }
  }

  &__search-location-container {
    @include grid-media($M) {
      @include grid-column(3, 6);
      @include omega();
    }

    @include grid-media($L) {
      @include grid-column(4, 12);
    }
  }
*/

  &__search-map-view,
  &__search-map-view:visited {
    display: inline-block;
    float: right;
    color: $color-white;
    font-size: $small-font-size;
    text-decoration: underline;

    &:hover {
      color: $color-white;
    }
  }

  &__search-button-container {
    text-align: right;

    @include grid-media($SM) {
      // override of standards
      text-align: right;
    }

    @include grid-media($M) {
      // @include grid-column(6, 6);
    }

    @include grid-media($L) {
      // @include grid-column(2, 12);
      // @include omega();
      margin-top: $size-L;
      text-align: left;
    }
  }

  &__search-keywords-input[type="text"],
  &__search-location-input[type="text"] {
    position: relative;
    max-width: inherit;
  }

  &__search-keywords-icon,
  &__search-location-icon {
    color: $color-primary-alt-dark;
  }

  &__search-button {
    margin-top: $size-M;
    margin-right: 0;
    padding: ($size-default - 0.2rem) $size-M;
    font-size: $h4-font-size;

    @include grid-media($M) {
      margin-top: $size-S;
    }
  }

  &__create-account {
    @include default-text();
    margin: 0;
    padding: $size-base $size-default;
    border: 1px solid $color-gray-lighter;
    border-bottom-width: 0;
    background-color: $color-gray-lightest;
  }

  &__create-account-link,
  &__create-account-link:visited {
    color: $color-primary;
  }
}

.usajobs-nav--full_bleed {
  &__body {
    max-width: inherit;
  }

  &__banner-inner,
  &__header,
  &__search-body,
  &__create-account-container {
    max-width: $site-max-width-L;
    margin-left: auto;
    margin-right: auto;
  }

  &__banner-inner {
    @include grid-media($ML) {
      padding-left: $size-M;
    }

    @include grid-media($XXXXL) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__create-account {
    @include grid-media($ML) {
      padding-left: $size-M;
    }
  }

  &__brand {
    @include grid-media($XXXXL) {
      padding-left: 0;
    }
  }
}

.usajobs-nav--vATP {
  &__body {
    max-width: inherit;
  }

  &__banner-inner,
  &__header,
  &__search-body {
    max-width: $site-max-width-L;
    margin-left: auto;
    margin-right: auto;
  }

  &__banner-inner {
    @include grid-media($ML) {
      padding-left: $size-M;
    }

    @include grid-media($XXXXL) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__brand {
    @include grid-media($XXXXL) {
      padding-left: 0;
    }
  }

  &__search-button-container {
    text-align: left;
  }

  &__menu {
    float: left;
    width: 100%;

    @include grid-media($ML) {
      float: right;
      width: auto;
    }

    ul {
      width: 100%;
      text-align: left;

      @include grid-media($ML) {
        text-align: right;
      }
    }
  }

  &__account &__section-link {
    padding-left: $size-default;
    padding-right: $size-M;

    @include grid-media($ML) {
      padding-right: $size-default;
    }
  }

  &__section-link {
    @include grid-media($ML) {
      padding-left: $size-default;
      padding-right: $size-default;
    }
    @include grid-media($L) {
      padding-left: $size-M;
      padding-right: $size-M;
    }
  }

  &__search-keywords-container {
    @include grid-media($L) {
      // @include grid-column(5, 12);
    }
  }

  &__search-location-container {
    @include grid-media($L) {
      // @include grid-column(4, 12);
    }
  }

  &__search-button-container {
    text-align: right;

    @include grid-media($L) {
      // @include grid-column(3, 12);
      text-align: left;
    }
  }
}
