<footer class="usa-footer usa-footer-big usajobs-footer--v2" role="contentinfo" aria-label="footer" data-object="footer">
  <div class="usajobs-grid usa-footer-return-to-top">
    <a href="#title" id="footer-back-to-top">Return to top</a>
  </div>
  <div class="usa-footer-primary-section">
    <div class="usajobs-grid-full">
      <nav class="usa-footer-nav usa-width-one-whole">
        <ul class="usa-unstyled-list usa-footer-primary-content usajobs-footer--v2__joa-playbook">
          <li class="usa-footer-primary-link" data-behavior="footer.toggle" data-state="is-closed" data-target=".home-menu">
              Job announcement playbook
          </li>
          <li class="usajobs-footer--v2__menu-item home-menu is-hidden">
            <a href="{{ site.baseurl }}/job-announcement-playbook/">Home</a>
          </li>
          <li class="usajobs-footer--v2__menu-item home-menu is-hidden">
            <a href="{{ site.baseurl }}/job-announcement-playbook/details/">Announcement details</a>
          </li>
          <li class="usajobs-footer--v2__menu-item home-menu is-hidden">
            <a href="{{ site.baseurl }}/job-announcement-playbook/creating/">Creating an announcement</a>
          </li>
        </ul>
        <ul class="usa-unstyled-list usa-footer-primary-content usajobs-footer--v2__faqs">
          <li class="usa-footer-primary-link" data-behavior="footer.toggle" data-state="is-closed" data-target=".account-menu">FAQs</li>
          <li class="usajobs-footer--v2__menu-item account-menu is-hidden">
            <a href="{{ site.baseurl }}/faq/">Home</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="usa-footer-secondary_section usa-footer-big-secondary-section">
    <div class="usajobs-grid">
      <div class="usa-footer-logo usajobs-width-one-half usajobs-footer--v2__logo">
        <amp-img src="{{ site.baseurl }}/assets/images/logo/png/white-2x.png"
          srcset="{{ site.baseurl }}/assets/images/logo/png/white-2x.png 768w,
          {{ site.baseurl }}/assets/images/logo/png/white-2x-narrow.png 100w"
          width="150"
          height="36"
          layout="responsive"
          alt="USAJOBS logo"></amp-img>

        <p class="usajobs-footer--v2__note">
          USAJOBS Agency Talent Portal Support is a <a href="https://www.opm.gov">United States Office of Personnel Management</a> website.
        </p>
      </div>

      <div class="usa-footer-contact-links usajobs-width-one-half">
        <div class="usa-social-links">
          <a href="https://plus.google.com/+usajobs" class="usajobs-social-link" aria-label="Google Plus" title="Google Plus">
            <span class="fa fa-google-plus"></span>
          </a>
          <a href="https://www.facebook.com/USAJOBS" class="usajobs-social-link" aria-label="Facebook" title="Facebook">
            <span class="fa fa-facebook"></span>
          </a>
          <a href="https://www.linkedin.com/company/usajobs" class="usajobs-social-link" aria-label="LinkedIn" title="LinkedIn">
            <span class="fa fa-linkedin"></span>
          </a>
          <a href="https://twitter.com/USAJOBS" class="usajobs-social-link" aria-label="Twitter" title="Twitter">
            <span class="fa fa-twitter"></span>
          </a>
          <a href="https://www.youtube.com/user/usajobsapp" class="usajobs-social-link" aria-label="You Tube" title="You Tube">
            <span class="fa fa-youtube"></span>
          </a>
        </div>
      </div>
    </div>

    <div class="usajobs-grid">
      <div class="usa-footer-logo usajobos-width-one-whole">
        <ul class="usa-unstyled-list usajobs-footer--v2__subsection-horizontal">
          <li><a href="https://www.opm.gov/about-us/budget-performance/">Budget and Performance</a></li>
          <li><a href="http://www.opm.gov/efoia/">FOIA</a></li>
          <li><a href="https://www.opm.gov/our-inspector-general/">Inspector General</a></li>
          <li><a href="https://www.opm.gov/information-management/no-fear-act/">No Fear Act Data</a></li>
          <li><a href="https://www.usajobs.gov/Help/privacy/">Privacy Policy</a></li>
          <li><a href="http://www.usa.gov/">USA.gov</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
