
.usajobs-recruitment-joa-playbook {
  @include grid-container();
  padding: $size-M 0;

  &__sidenav {
    @include grid-media($ML) {
      @include grid-column(2);
      margin-left: 0;
    }
  }

  &__main {
    @include grid-media($ML) {
      @include grid-column(4);
    }
  }
}

.usajobs-recruitment-joa-playbook-home {
  &__section {
    padding: $size-M $size-default;

    @include grid-media($L) {
      padding: $size-XL $size-L;
    }
  }

  &__title {
    font-family: $font-serif;
    color: $color-white;
  }

  &__last-build {
    font-size: $small-font-size;
  }
}

.usajobs-recruitment-joa-playbook-home--lead {
  background-color: $color-cool-blue-light;
  color: $color-white;
}

.usajobs-recruitment-joa-playbook-home--playlist {
  background-color: $color-gray-dark;
  color: $color-white;

  &__list {
    font-size: $h3-font-size;
    line-height: $lead-line-height;
    color: $color-white;
    list-style-postion: inside;
    padding-left: 2rem;

    li {
      padding-bottom: $size-default;
    }

    a {
      color: $color-white;
      text-decoration: none;

      &:hover {
        color: $color-white;
        text-decoration: underline;
      }
    }
  }
}

.usajobs-recruitment-joa-playbook-home--plays {
  max-width: $article-max-width;

  &__title {
    margin-bottom: $size-default;
  }

  &__can-do,
  &__questions {
    padding-left: 2.5rem;
  }

  &__can-do {
    list-style-image: url("../assets/images/job-announcement-playbook/bullet-sq.svg");
  }

  &__questions {
    list-style-image: url("../assets/images/job-announcement-playbook/bullet-circle.svg");
  }

  li {
    margin: $size-S 0;
  }
}

.usajobs-recruitment-joa-playbook-details {
  h2 {
    margin-top: $size-XL;
  }

  h3 {
    margin-top: $size-L;
    border-bottom: 1px solid $color-gray;
  }

  h4,
  h5 {
    margin-top: $size-default;
  }

  &__fields-container,
  &__container {
    @include grid-media($M) {
      display: flex;
      flex-wrap: none;
    }
  }

  &__current-fields,
  &__previous-fields,
  &__required-by-usajobs,
  &__required-by-policy,
  &__do,
  &__do-not {
    @include grid-media($M) {
      flex: 1;
      width: 50%;
    }
  }

  &__current-fields,
  &__required-by-usajobs,
  &__do {
    @include grid-media($M) {
      padding-right: $size-default;
    }
  }

  &__fields-title {
    text-transform: uppercase;
  }

  &__fields-detail {
    margin-top: 0;
    font-size: $small-font-size;
  }

  &__field-list {
    a {
      display: block;
      padding: $size-base 0;
    }
  }

  span.fa.fa-times {
    color: $color-secondary;
  }

  span.fa.fa-check {
    color: $color-green;
  }

  &__myth,
  &__suggested-text {
    margin-bottom: $size-default;
    padding: $size-base $size-default;
    background-color: $color-gray-lightest;
  }

  &__table {
    display: block;
    width: 100%;
    overflow: auto;
    border-collapse: collapse;
    margin-bottom: $size-M;

    tr {
      background-color: $color-white;
      border-top: 1px solid $color-gray-light;

      &:nth-child(2n) {
        background-color: $color-gray-lightest;
      }
    }

    th {
      padding: $size-base $size-default;
      border: 1px solid $color-gray-light;
      font-weight: bold;
    }

    td {
      padding: $size-base $size-default;
      border: 1px solid $color-gray-light;
      font-size: $small-font-size;
    }
  }

  &__example-img {
    max-width: 722px;

    &.this-job-is-open-to {
      max-width: 346px;
    }
  }

  &__disclaimer {
    margin-top: $size-L;
    padding: $size-default;
    background-color: $color-gray-cool-light;
  }
}
