
.usajobs-recruitment-joa-playbook {
  @include grid-container();

  &__main,
  &__aside {
    padding: $size-M 0;
  }

  &__sidenav {
    @include grid-media($ML) {
      @include grid-column(2);
      margin-left: 0;
      padding-top: $size-M;
    }
  }

  &__main {
    @include grid-media($ML) {
      @include grid-column(4);
    }
  }
}

.usajobs-recruitment-joa-playbook-details {
  h2 {
    margin-top: $size-XL;
  }

  h3 {
    margin-top: $size-L;
    border-bottom: 1px solid $color-gray;
  }

  h4,
  h5 {
    margin-top: $size-default;
  }

  &__fields-container,
  &__container {
    @include grid-media($M) {
      display: flex;
      flex-wrap: none;
    }
  }

  &__current-fields,
  &__previous-fields,
  &__do,
  &__do-not {
    @include grid-media($M) {
      flex: 1;
      width: 50%;
    }
  }

  &__current-fields,
  &__do {
    @include grid-media($M) {
      padding-right: $size-default;
    }
  }

  &__fields-title {
    text-transform: uppercase;
  }

  &__fields-detail {
    margin-top: 0;
    font-size: $small-font-size;
  }

  &__field-list {
    a {
      display: block;
      padding: $size-base 0;
    }
  }

  &__do {
    h4 span {
      color: $color-green;
    }
  }

  &__do-not {
    h4 span {
      color: $color-secondary;
    }
  }

  &__table {
    display: block;
    width: 100%;
    overflow: auto;
    border-collapse: collapse;
    margin-bottom: $size-M;

    tr {
      background-color: $color-white;
      border-top: 1px solid $color-gray-light;

      &:nth-child(2n) {
        background-color: $color-gray-lightest;
      }
    }

    th {
      padding: $size-base $size-default;
      border: 1px solid $color-gray-light;
      font-weight: bold;
    }

    td {
      padding: $size-base $size-default;
      border: 1px solid $color-gray-light;
      font-size: $small-font-size;
    }
  }
}
