<header class="usa-header usa-header-extended" role="banner">
  <div class="usa-navbar">
    <div class="usa-logo" id="logo">
      <em class="usa-logo-text">
        <a href="{{ site.baseurl }}/job-announcement-playbook/" accesskey="1" title="Home" aria-label="Job announcement playbook">
          Job announcement playbook
        </a>
      </em>
    </div>
  </div>
  <nav role="navigation" class="usa-nav">
    <div class="usa-nav-inner">
      <ul class="usa-nav-primary">
        <li>
          <a class="usa-nav-link {% if page.category == 'home' %}usa-current{% endif %}" href="{{ site.baseurl }}/job-announcement-playbook/" title="Home" aria-label="The Plays">
            Plays
          </a>
        </li>
        <li>
          <a class="usa-nav-link {% if page.category == 'details' %}usa-current{% endif %}" href="{{ site.baseurl }}/job-announcement-playbook/details/">
            <span>Guidelines</span>
          </a>
        </li>
        <li>
          <a class="usa-nav-link {% if page.category == 'case-studies' %}usa-current{% endif %}" href="{{ site.baseurl }}/job-announcement-playbook/case-studies/">
            <span>Case studies</span>
          </a>
        </li>
        <li>
          <a class="usa-nav-link {% if page.category == 'release-notes' %}usa-current{% endif %}" href="{{ site.baseurl }}/job-announcement-playbook/release-notes/">
            <span>Release notes</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
