<header class="usajobs-site-header" role="banner" aria-label="header">
  <!-- Gov banner BEGIN -->
  <div class="usa-banner">
    <div>
      <div class="usa-banner-header">
        <div class="usajobs-grid usa-banner-inner usajobs-nav--full_bleed__banner-inner">
          <div class="usajobs-width-one-half">
            <span class="usa-banner-header__img">
              <amp-img src="{{ site.baseurl }}/assets/images/favicons/favicon-57.png" width="20" height="20" alt="U.S. flag"></amp-img>
            </span>
            <p>An official website of the United States government</p>
          </div>
          <div class="usajobs-width-one-half">
            <p>This site is a work in progress. If you find an error or have a concern reach out to <a href="mailto:recruiter-help@opm.gov" class="usajobs-nav--vATP__feedback">recruiter-help@opm.gov</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Gov banner END -->
  <nav class="usajobs-nav usajobs-nav--vATP" role="navigation" aria-label="main navigation" data-object="nav">
    <div class="usajobs-nav__body usajobs-nav--vATP__body">
      <div class="usajobs-nav__header-container">
        <div class="usajobs-nav__header usajobs-nav--vATP__header">
          <div class="usajobs-nav__header">
            <div class="usajobs-nav__brand-container">
              <a class="usajobs-nav__brand usajobs-nav--vATP__brand" href="{{ site.baseurl }}/">
                <amp-img src="{{ site.baseurl }}/assets/images/logo/png/red-2x.png"
                  srcset="{{ site.baseurl }}/assets/images/logo/png/red-2x.png 768w,
                  {{ site.baseurl }}/assets/images/logo/png/red-2x-narrow.png 100w"
                  width="150"
                  height="36"
                  layout="responsive"
                  alt="USAJOBS logo"></amp-img>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="usa-nav-secondary">
    <ul class="usa-unstyled-list usa-nav-secondary-links">
      <li>
        <a href="{{ site.baseurl }}/">Help</a>
      </li>
    </ul>
  </div>
</header>
