<ul class="usa-sidenav-list">
  <li>
    <a href="{{ site.baseurl }}/job-announcement-playbook/details/overview/">Overview</a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/job-announcement-playbook/details/locations/">Locations</a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/job-announcement-playbook/details/duties/">Duties</a>
  </li>
  <li>
    <a {% if include.params == 'requirements' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/job-announcement-playbook/details/requirements/">Requirements</a>
    {% if include.param == 'requirements' %}
    <ul class="usa-sidenav-sub_list">
      <li>
        <a href="{{ site.baseurl }}/job-announcement-playbook/details/requirements#conditions-of-employment">
          Conditions of Employment
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/job-announcement-playbook/details/requirements#qualifications">
          Qualifications
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/job-announcement-playbook/details/requirements#how-you-will-be-evaluated">
          How you will be evaluated
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/job-announcement-playbook/details/requirements#background-checks">
          Background checks and security clearance
        </a>
      </li>
    </ul>
    {% endif %}
  </li>
  <li>
    <a href="{{ site.baseurl }}/job-announcement-playbook/details/required-documents/">Required Documents</a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/job-announcement-playbook/details/benefits/">Benefits</a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/job-announcement-playbook/details/how-to-apply/">How to apply</a>
  </li>
</ul>
