<!-- Original -->
<!-- <!DOCTYPE html>
<html ⚡ lang="en">
  {% include head.html %}
  <body class="amp-border-box">
    {% include header.html %}
    {% include analytics.html %}
    <div class="usajobs-recruitment usajobs-recruitment-home">
      {{ content }}
    </div>
    {% include components/footer.html %}
  </body>
</html> -->

<!-- from Open Opps -->

<!DOCTYPE html>
<html ⚡ lang="en">
  {% include head.html %}
  <body class="amp-border-box">
    {% include header.html %}
    {% include analytics.html %}
    <div class="usajobs-openopps-help-center usajobs-openopps-help-center--home">
      {{ content }}
    </div>
    {% include components/footer.html %}
  </body>
</html>
